body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .form {
    width: 384px;
    height: fit-content;
    margin: auto;
    padding: 48px 32px;
    background-color: white;
    border: 1px solid #d9d9d9;
    box-shadow: 0 22px 106px rgba(0, 0, 0, 0.07), 0 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275),
      0 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
    border-radius: 6px;
    display: flex;
    gap: 21px;
    flex-direction: column;
    align-items: flex-start;
    .title {
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}
input:focus,
textarea:focus,
input:focus-visible,
textarea:focus-visible,
button:focus-visible {
  outline: 2px solid #40a9ff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

label {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
}
button {
  cursor: pointer;
}
input {
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}
::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #bfbfbf;
}
.input-message {
  font-size: 14px;
  line-height: 22px;
  color: #f5222d;
}
